<h1>えっと、あのー…<br>無意識に出てしまう<br>そんな言葉を可視化する</h1>
<div>
  <%= link_to t('defaults.challenge'), new_recording_path, class: 'btn btn-warning' %>
</div>
<div>
  <%= link_to t('defaults.show_everyone_results'), '#', class: 'btn btn-info' %>
</div>
<div>
  <%= link_to t('defaults.challenge'), new_recording_path, class: 'btn btn-warning' %>
</div>