<footer class="footer-bottom footer-color mt-3 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column align-items-start">
        <%= link_to t('defaults.terms'), terms_path, class: 'link_to text-center' %>
        <%= link_to t('defaults.privacy'), privacy_path, class: 'link_to text-center' %>
      </div>
      <div class="d-flex justify-content-end flex-column align-items-end">
        <div>© 2022. filler checker</div>
      </div>
    </div>
  </div>
</footer>