.main-color {
	background-color: #AEDEF0;
}

.blur {
	filter: drop-shadow(0 2px 2px #AEDEF0) drop-shadow(0 -2px 2px #AEDEF0);
	position: relative;
}

.background-color {
  background-color: #FDF4ED;
}

.header-color {
  background-color: #fff;
  filter: drop-shadow(0 2px 2px #fff);
}

.footer-color {
  background-color: #EDBC92;
}
