@import 'background';
@import 'table';
@import 'link';

.display-none {
  display: none;
}

.btn-circle {
  border-radius: 2rem;
}

.btn-outline-danger {
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: #dc3545;
  cursor: not-allowed;
}

.icon {
  width: 40px;
  height: 40px;
  border: solid 1px #8B8680;
}

.logo {
  height: 60px;
}

.index-top {
  position: relative;
  z-index: 999;
}
