<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <p class="h2"><%= t('.title') %></p>
      <%= render 'form', user: @user %>
      <div class='text-center d-flex justify-content-center'>
        <%= link_to t('.to_register_page'), new_user_path, class: 'me-3 link_to' %>
        <%= link_to t('.password_forget'), '#', class: 'link_to' %>
      </div>
    </div>
  </div>
</div>